body {
    background-color: #000;
}

button {
    background-color: lightblue;
    color: black;
    border: black 2px solid;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.button-blue {
    background-color: lightblue;

}

.button-red {
    background-color: lightcoral;
}


h1 {
    color: white;
    text-align: center;
}

h2 {
    color: green;
    text-align: center;
}